# For further details, see
# https://docs.python.org/3/distutils/sourcedist.html#specifying-the-files-to-distribute

# INCLUDE IT ALL
recursive-include docs *.rst *.py
include docs/spelling_wordlist.txt
include docs/requirements.txt
include docs/Makefile
recursive-exclude docs/reference/_autosummary *.rst
recursive-exclude xslt *

# Docs
include README*
include LICENSE
include *.rst

# XSLT Stylesheets
include xslt/html.xslt
include xslt/svg.xslt

# Schemas
include schemas/relaxng.rng

# Development Files & Test Suite
include make_devsetup.sh
include *requirements.txt
include tox.ini
include .bumpversion.cfg
include .editorconfig

# Check Files & Validation & Test Suite
graft tests

# Configuration files from PyCharm
global-exclude .idea
include .idea/misc.xml
include .idea/modules.xml
include .idea/vcs.xml
#
# include .idea/runConfigurations
# include .idea/runConfigurations/Sphinx_HTML_Task.xml
# include .idea/runConfigurations/Testing.xml
# include .idea/sdsc.iml

# Exclude some specific files
exclude tests/internal.rng

# Configuration files for automated testing & git repo maintenance
global-exclude bitbucket-pipelines.yml .cookiecutterrc .coveragerc .coverage .travis.yml .versionrc versionbump


# Temporary files
global-exclude *.py[cod] __pycache__ *.so *.dylib *~ *.bak *.gitignore *.doap
